.app {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
}

.app-main {
  flex: 1;
  margin-left: 250px;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .app-main {
    margin-left: 0;
  }
}

